body {
    background-color: #808080;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 10%;
    background-color: black;
    padding: 0px;
    text-align: center;
    font-size: 25px;
    color: blueviolet;
}

.texto {
    font-size: 1.4em;
}

.titulo {
    font-size: 2.4em;
}

.subtitulo {
    font-size: 1.8em;
}

.textoL {
    font-size: 1.4em;
    color: rgb(76, 167, 255);
}

button {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    font-size: 0.9em;
    color: rgb(22, 83, 182);
    background-color: rgb(110, 110, 110);
}