body {
    background-color: #808080;
}

.texto {
    font-size: 1.4em;
}

.titulo {
    font-size: 2.4em;
}

li {
    font-size: 1.4em;
}

.subtitulo {
    font-size: 1.8em;
}
a{
    color: rgb(76, 167, 255);
}